<layout name="layout" />

			<!--右边内容显示区-->
<div class="col-md-10 content-right">
	<!--路径-->
<ol class="breadcrumb">
  <li><a  style="text-decoration: none;" ><{$nav1}>     </a></li>
  <li><a   style="text-decoration: none;" ><{$nav2}>   </a></li>
  <li class="active"   ><{$nav3}>    </li>
</ol>

	<div class="panel panel-default">
  <!-- 列表信息 -->  
  <div class="panel-heading">
  	编辑管理员
    <button class="btn btn-primary navbar-right navbt" ><a href=<{:U('admin_list')}> >管理员列表<a></button>
  </div>
  <div class="panel-body">
<form enctype="multipart/form-data"  action="__SELF__" method="post">
  <ul class="list-group cate_add" id="cate_add" >
        <li class="list-group-item" >
    	<label for="exampleInputName2">管理员昵称:</label>
    	<input type="text" name="a_name" class="form-control cate_input" value=<{$info.a_name}> >
    	 <label for="exampleInputName2" id="area_info1" class="tips"></label>
    </li>

    
    <li class="list-group-item" >
    	<label for="exampleInputName2" style="margin-left:-200px;">管理员图像:</label>
    	<input type="file" name="a_picture" class="form-control picture" />	
     <img src="__PUBLIC__<{$info.a_picture}>" alt="个人图像" class="img-thumbnail img-1" >
    
    </li>
    
    
    
     <li class="list-group-item"> 
    	
  <button type="button" class="btn btn-info" id="add_school">编辑管理员</button>	
   <label for="exampleInputName2" id="area_info2" class="tips"></label>
     </li>
    
</form>
</ul>	

  </div>
</div>

</div>



