<layout name="layout" />
<style>
	.mesinput{
		width:500px;
		display: inline;
	}
	.list-group li {
		text-align: center;
	}
	.msglabel{
		display: inline-block;
	    float: left;
	    margin-left: 275px;
	    margin-right: -250px;
	}
	.mestextarea{
		width:500px;
		height: 300px;
		resize: none;
		color: gray;
		text-indent: 10px;
		
	}
	.labelinput{
		display: inline-block;
		margin-right: 8px;
		margin-left: 10px;
	}
	

.list-group-item {
	border: none;
}
</style>

<div class="col-md-10 content-right">
	
	<div class="panel panel-warning" >
	  <div class="panel-heading">
	  	<a class="btn btn-info" href=<{:U('Messages/message_list')}>  ><{$title}>  </a>
	  	
	  </div>
	  
	  <form enctype="multipart/form-data" id="form"  action="__SELF__" method="post">
	  <ul class="list-group "  >	
	    <li class="list-group-item" >
	   <label class="labelinput">收件人</label>
	    <input type="text" name="e_user" class="form-control mesinput" id="e_user" value=<{$u_account}>  >
	    	
	    </li>
	    <li class="list-group-item" >
	   <label class="labelinput">邮件主题</label>
	    <input type="text" name="e_title" class="form-control mesinput" id="e_title" placeholder="邮件主题不超过16个字">
	    	
	    </li>
       
	     <li class="list-group-item" >
	    	<label class="msglabel">邮件内容</label>
	    	<textarea id="e_content" class="mestextarea"  name="e_content" >字数不能超过200个字</textarea>
	    </li> 

 
	     <li class="list-group-item" style="text-align: center;"> 
	    	
	  <button type="submit" class="btn btn-warning" id="mes_btn">发送邮件</button>	
	
	     </li>
	</ul>	
	</form>
	
	
</div>
</div>
<script src="<{$Think.const.JS_URL}>jquery.js"></script> 
<script>

	
	$("#mes_btn").click(function(){
		var m_title=$("#m_title").val();
		var m_content=$("#m_content").val();
		
		if(m_title.length<1|| m_title.length>16){
			alert("邮件主题不能为空或者字数不能超过16个字");
		}if(m_content.length>200||m_content =='字数不能超过200个字'){
			alert("邮件内容不能为空或者字数不能超过200个字");
		}else{
			$("#form").submit();
		}
		
		
	});
	
</script>
