<layout name="layout" />

			<!--右边内容显示区-->
<div class="col-md-10 content-right">
	<!--路径-->
<ol class="breadcrumb">
<li><a  style="text-decoration: none;" ><{$nav1}>     </a></li>
  <li><a   style="text-decoration: none;" ><{$nav2}>   </a></li>
  <li class="active"   ><{$nav3}>    </li>
</ol>

	<div class="panel panel-default">
  <!-- 列表信息 -->  
  <div class="panel-heading">
  	添加商品
    <button class="btn btn-primary navbar-right navbt" ><a href=<{:U('admin_list')}> >管理员列表<a></button>
  </div>
  <div class="panel-body">
<form enctype="multipart/form-data"  action="__SELF__" method="post">
  <ul class="list-group cate_add" id="cate_add" >

    <li class="list-group-item" >
    	<label for="exampleInputName2">商品名称:</label>
    	<input type="text" name="a_account" class="form-control cate_input" id="" placeholder="请输入商品名称">
    	
    </li>
        <li class="list-group-item" >
    	<label for="exampleInputName2">商品品牌:</label>
    	<input type="text" name="a_name" class="form-control cate_input" id="" placeholder="请输入商品品牌">
    	 
    </li>
    <li class="list-group-item" >
    	<label for="exampleInputName2">商品数量:</label>
    	<input type="text" name="a_password" class="form-control cate_input"  placeholder="请输入商品数量">
    	 
    </li>
    
    <li class="list-group-item" >
    	<label for="exampleInputName2">商品价格:</label>
    	<input type="text" name="a_password" class="form-control cate_input"  placeholder="请输入商品价格">
    	 
    </li>
    <li class="list-group-item" >
    	<label for="exampleInputName2" style="margin-left: -110px;">新旧程度:</label>
    	<select name="a_pid"   class="search-1" id="select1" >
            <option value="0" >五成新以下</option>             
        </select>
    	
    </li>
    <li class="list-group-item" >
    	<label for="exampleInputName2" style="margin-left: -120px;">能否议价:</label>
       <select name="a_pid"   class="search-1" id="select1" >
            <option value="0" >可议价</option>  
            <option value="0" >不可议价</option> 
        </select>
    </li>

    <li class="list-group-item" >
    	<label for="exampleInputName2">商品描述:</label>
    	<input type="text" name="a_password" class="form-control cate_input"  placeholder="请输入密码">
    	
    </li>
    
    
    <li class="list-group-item" >
    	<label for="exampleInputName2" style="margin-left:-200px;">商品logo:</label>
    	<input type="file" name="a_picture" class="form-control picture" />	
    </li>
    
    
    
     <li class="list-group-item"> 
    	
  <button type="button" class="btn btn-info" id="add_school">添加商品</button>	
   <label for="exampleInputName2" id="area_info2" class="tips"></label>
     </li>
    
</form>
</ul>	

  </div>
</div>

</div>



