<layout name="layout" />

			<!--右边内容显示区-->
<div class="col-md-10 content-right">
	<!--路径-->
<ol class="breadcrumb">
<li><a  style="text-decoration: none;" ><{$nav1}>     </a></li>
  <li><a   style="text-decoration: none;" ><{$nav2}>   </a></li>
  <li class="active"   ><{$nav3}>    </li>
</ol>

	<div class="panel panel-default">
  <!-- 列表信息 -->  
  <div class="panel-heading">
  	添加分类
    <button class="btn btn-primary navbar-right navbt" ><a href=<{:U('cat_list')}> >分类列表<a></button>
  </div>
  <div class="panel-body">
<form enctype="multipart/form-data"  action="__SELF__" method="post">
  <ul class="list-group cate_add" id="cate_add" >
     		 
    <li class="list-group-item" > 
    	
    	<label for="exampleInputName2">选择主分类:</label>
    	 <select name="c_pid"  id="sele_cate" class="search-1" >
            <option value="0" >顶级分类</option>
            <foreach name="cate_data" item="vo">
            	
            	<option value="<{$vo.c_id}>"  > <{$vo.c_name}> </option>
            </foreach>	
             
        </select>
    </li>
    <li class="list-group-item" >
    	<label for="exampleInputName2">分类名称:</label>
    	<input type="text" name="c_name" class="form-control cate_input" id="exampleInputName2" placeholder="请输入分类名称">
    	
    </li>
    
     <li class="list-group-item"> 
    	
  <button type="submit" class="btn btn-info">添加分类</button>	
    </li>
    
</form>
</ul>	

  </div>
</div>

</div>

